<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3days ago</small>
    </div>
    <p class="mb-1">This is a sample notification and it has nothing to do with anything.</p>
    <small>This is the origin</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3days ago</small>
    </div>
    <p class="mb-1">This is a sample notification and it has nothing to do with anything.</p>
    <small>This is the origin</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3days ago</small>
    </div>
    <p class="mb-1">This is a sample notification and it has nothing to do with anything.</p>
    <small>This is the origin</small>
  </a>
</div>
