<div style="text-align: center; margin: 20px auto">
  <div>
    <img
      src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Institute_of_Technology%2C_University_of_Moratuwa.png/220px-Institute_of_Technology%2C_University_of_Moratuwa.png"
      alt="logo.png"
      class="logo"/>
  </div>
  <div>
    <h1 class="mat-display-1 heading">Management Information System</h1>
    <p>University of Moratuwa</p>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
