<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Notification Heading 1</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Notification content appears here.</p>
    <small>Notification Origin</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Notification Heading 2</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Notification content appears here.</p>
    <small class="text-muted">Notification Origin</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Notification Heading 3</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Notification content appears here.</p>
    <small class="text-muted">Notification Origin</small>
  </a>
</div>
