<div class="container-md">

  <div class="jumbotron">
    <h3>Timetables</h3>
    <p>Time allocation for each module</p>
  </div>

  <mat-spinner style="margin: 100px auto auto" [hidden]="!progress"></mat-spinner>

  <div *ngIf="!progress" class="row mx-0 mt-3 px-0">

    <div *ngFor="let day of weekdays" class="col m-1" style="position: relative">

      <div class="row p-3 bg-primary text-white rounded">
        {{ day.day | uppercase }}
      </div>

      <div *ngFor="let timeSlot of getTimeSlots(day.index)"
           [style.top]="(getPosition(timeSlot.startingTime) + 55) + 'px'"
           [style.height]="(getPosition(timeSlot.endingTime) - getPosition(timeSlot.startingTime) + 7) + 'px'"
           [class.scale-left]="day.index === 2" [class.scale-center]="day.index !== 2 && day.index !== 6"
           [class.scale-right]="day.index === 6"
           (click)="router.navigate(['../course-modules', {moduleCode: timeSlot.moduleCode}])"
           class="row p-1 px-4 my-2 bg-light rounded"
           style="position: absolute; width: 100%"
      >

        <div style="position: absolute; top: 5px" class="row d-flex align-items-start p-0">
          <ul style="list-style-type: none; padding: 0; width: 90%">
            <li>{{ timeSlot.moduleName }}</li>
            <li class="hidden">{{ timeSlot.moduleCode }}</li>
            <li><span style="font-size: 13px"><b>{{ timeSlot.type }}</b></span></li>
          </ul>
        </div>

        <div class="row d-flex align-items-end p-0" style="position: absolute; bottom: -10px; font-size: 13px">
          <ul style="list-style-type: none; padding: 0">
            <li class="hidden">{{ timeSlot.lectureHall }}</li>
            <li><b>{{ convertTime(timeSlot.startingTime) + ' - ' + convertTime(timeSlot.endingTime) }}</b></li>
          </ul>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>

</div>
