.scale-left {
  background-color: #e3e3e3 !important;
  transition: 0.2s;
  transform-origin: left;
  z-index: 2;
}

.scale-center {
  background-color: #e3e3e3 !important;
  transition: 0.2s;
  z-index: 2;
}

.scale-right {
  background-color: #e3e3e3 !important;
  transition: 0.2s;
  transform-origin: right;
  z-index: 2;
}

.hidden {
  display: none;
}

.scale-left:hover, .scale-center:hover, .scale-right:hover {
  z-index: 99999;
  transform: scale(1.2);
  opacity: 0.8;
  background-color: black !important;
  color: white;
  font-size: 12px;
  box-shadow:  0 20px 20px 0  rgba(0, 0, 0, 0.4);
}

.scale-left:hover .hidden {
  display: block;
}

.scale-center:hover .hidden {
  display: block;
}

.scale-right:hover .hidden {
  display: block;
}





