<div class="card">

  <div class="card-header">
    <h5>Upload Payment Details</h5>
    <p class="sub-header">Upload payment details related to any student</p>
  </div>

  <div class="card-body">

    <div class="row" style="margin: -20px -20px 10px -20px; height: 5px">
      <mat-progress-bar [hidden]="!uploadAPaymentProgress" mode="query"></mat-progress-bar>
    </div>

    <form [formGroup]="paymentForm">

      <h6>Depositor Details</h6>
      <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
      <br />
      <div formGroupName="depositor">
        <div class="row mb-2">

          <mat-form-field class="col-md-4 mx-0 px-1" appearance="outline">
            <mat-label>Registration Number</mat-label>
            <input (keyup)="term$.next($event.target.value)" (ngModelChange)="toggleProgress()" type="text" matInput
                   formControlName="registrationNumber" placeholder="Ex: 184183R" required>
            <mat-error *ngIf="registrationNumber.touched && registrationNumber.errors?.required">This field is required
            </mat-error>
            <mat-error
              *ngIf="registrationNumber.touched && !registrationNumber.errors?.required && registrationNumber.errors?.pattern">
              Invalid input</mat-error>
            <mat-error
              *ngIf="registrationNumber.touched && !registrationNumber.errors?.required && !registrationNumber.errors?.pattern && studentIDNotFound">
              Student ID not found</mat-error>
          </mat-form-field>

          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="fullName" placeholder="Full Name" [readonly]="true" />
          </mat-form-field>

        </div>

        <div class="row mb-2">

          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>Course Name</mat-label>
            <input type="text" matInput formControlName="course" placeholder="Course Name" [readonly]="true" />
          </mat-form-field>

          <mat-form-field class="col-md-4 mx-0 px-1" appearance="outline">
            <mat-label>Academic Year</mat-label>
            <input type="text" matInput formControlName="academicYear" placeholder="Academic Year" [readonly]="true" />
          </mat-form-field>

        </div>
      </div>

      <div class="row px-1">
        <div *ngIf="studentIDNotFound" class="alert alert-warning col">No student found with this ID</div>
      </div>

      <h6>Payment Details</h6>
      <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
      <br />

      <div formGroupName="deposit">


        <div class="row mb-2">

          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bankName" required>
              <mat-option *ngFor="let bank of banks" [value]="bank.bankName">{{bank.bankName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="bankName.touched && bankName.errors?.required">This field is required</mat-error>
          </mat-form-field>

          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>Slip Number</mat-label>
            <input type="number" matInput formControlName="slipNumber" placeholder="slip number" required>
            <mat-error *ngIf="bankName.touched && bankName.errors?.required">This field is required</mat-error>
          </mat-form-field>

        </div>

        <div class="row mb-2">
          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>External Note</mat-label>
            <textarea type="text" matInput formControlName="externalNote" placeholder="External Note"></textarea>
          </mat-form-field>

        </div>

        <div class="row mb-0">

          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>Amount Paid (Rs.)</mat-label>
            <input matInput type="number" class="example-right-align" formControlName="totalPaid"
                   placeholder="Ex: 456,500.00" required>
            <mat-error *ngIf="bankName.touched && bankName.errors?.required">This field is required</mat-error>
          </mat-form-field>

          <mat-form-field class="col mx-0 px-1" appearance="outline">
            <mat-label>Payment Date</mat-label>
            <input matInput type="date" formControlName="paymentDate" required/>
            <mat-error *ngIf="paymentDate.touched && paymentDate.errors?.required">This field required</mat-error>
          </mat-form-field>

        </div>

        <div style="overflow: hidden" class="row px-4 pb-2">
          <button type="button" (click)="clickFileUpload()" id="addFile" class="btn btn-success mt-1">upload slip
          </button>
          <input type="file" id="fileUpload" hidden />
        </div>


        <div class="row px-1">
          <div *ngIf="error" class="alert alert-warning col">{{ error }}</div>
        </div>

        <div class="d-flex flex-row-reverse my-0">
          <button (click)="submitForm()" type="button" mat-raised-button color="primary" class="mx-1">Submit</button>
          <button (click)="resetForm()" type="button" mat-button class="mr-1">Reset Form</button>
        </div>

      </div>

    </form>

  </div>

</div>
