<div class="card">

  <div class="card-header">
    <h5>Edit Payment Details</h5>
    <p class="sub-header">Edit payment details related to any student</p>
  </div>

  <div class="card-body">
    <div class="row" style="margin: -20px -20px 10px -20px; height: 5px">
      <mat-progress-bar [hidden]="!editPaymentProgress" mode="query"></mat-progress-bar>
    </div>

    <form [formGroup]="paymentForm">

      <h6>Depositor Details</h6>
      <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
      <br />

      <div class="row mb-2" formGroupName="depositor">

        <mat-form-field class="col-md-4 mx-0 px-1" appearance="outline">
          <mat-label>Registration Number</mat-label>
          <input (keyup)="term$.next($event.target.value)" (ngModelChange)="toggleProgress()" type="text" matInput
            formControlName="registrationNumber" placeholder="Ex: 184183R">
          <mat-error *ngIf="registrationNumber.touched && registrationNumber.errors?.required">This field is required
          </mat-error>
          <mat-error
            *ngIf="registrationNumber.touched && !registrationNumber.errors?.required && registrationNumber.errors?.pattern">
            Invalid input</mat-error>
          <mat-error
            *ngIf="registrationNumber.touched && !registrationNumber.errors?.required && !registrationNumber.errors?.pattern && studentIDNotFound">
            Student ID not found</mat-error>
        </mat-form-field>

        <mat-form-field class="col mx-0 px-1" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input type="text" matInput formControlName="fullName" placeholder="full name" readonly>
        </mat-form-field>

      </div>

      <div class="row px-1">
        <div *ngIf="studentIDNotFound" class="alert alert-warning col">No student found with this ID</div>
      </div>

    </form>
  </div>

</div>
<mat-accordion>
  <div *ngFor="let data of dataSource">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Installment {{dataSource.indexOf(data)+1}}
        </mat-panel-title>
        <mat-panel-description> 
          Installment {{dataSource.indexOf(data)+1}} Details {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <app-view-payment-details [position]="dataSource.indexOf(data)" [data]="data">
        </app-view-payment-details>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>