<div class="card">

  <div class="card-header">
    <h5>View Payments</h5>
    <p class="sub-header">View Payments details of any student</p>
  </div>

  <div class="card-body">

    <div class="row" style="margin: -20px -20px 10px -20px; height: 5px">
      <mat-progress-bar [hidden]="!viewPaymentsProgress" mode="query"></mat-progress-bar>
    </div>
  </div>

  <form [formGroup]="viewPaymentsForm">

    <div class="row px-0">

      <mat-form-field class="col-8 pr-1" appearance="outline" id="course-name">
        <mat-label>Course Name</mat-label>
        <mat-select formControlName="courseName">
          <mat-option *ngFor="let course of courses" [value]="course.courseID">{{course.courseName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="courseName.touched && courseName.errors?.required">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="col-4" appearance="outline" id="academicYear">
        <mat-label>Academic Year</mat-label>
        <mat-select formControlName="academicYear">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="row px-1 mb-4">
      <button mat-raised-button color="primary" class="mx-2" type="button">View</button>
    </div>

  </form>
</div>
