<mat-card class="authentication">

  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br/>

  <form *ngIf="!successful; else elseBlock" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">

    <mat-card-content>

      <mat-card-subtitle>
        Set up you new password.
      </mat-card-subtitle>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="password.touched && password.errors?.required">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="confirmPassword.touched && !confirmPassword.errors?.required && confirmPassword.errors?.incorrect">Passwords do not match</mat-error>
      </mat-form-field>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>

    </mat-card-content>

    <mat-card-actions align="right">

      <button type="submit" mat-button [disabled]="passwordResetForm.invalid" style="margin-right: 10px">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!progress"></span>
        Submit
      </button>

    </mat-card-actions>

  </form>

  <ng-template #elseBlock>

    <mat-card-content>
      <p>Password reset successful. Please login with your new password.</p>
    </mat-card-content>

    <mat-card-actions align="right">

      <button type="submit" mat-raised-button color="primary" style="margin-right: 10px" [routerLink]="['../login']">
        Login
      </button>

    </mat-card-actions>

  </ng-template>

</mat-card>
