<div class="card">

  <div class="card-header">
    <h5>Upload Attendance</h5>
    <p class="sub-header">Upload attendance related to any session</p>
  </div>

  <div class="card-body">

    <div style="height: 25px">
      <mat-progress-bar [hidden]="!uploadAttendanceProgress" mode="query"></mat-progress-bar>
    </div>

    <form [formGroup]="uploadAttendanceForm">

      <mat-form-field appearance="outline" class="input-field" style="width: calc(25% - 10px); margin-right: 10px">
        <mat-label>Module Code</mat-label>
        <input (keyup)="term$.next($event.target.value)" (ngModelChange)="toggleProgress()" id="moduleCode" type="text" matInput formControlName="moduleCode" placeholder="Ex: CM1100"/>
        <mat-error *ngIf="moduleCode.touched && moduleCode.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="moduleCode.touched && !moduleCode.errors?.required && moduleCode.errors?.pattern">Invalid module code</mat-error>
        <mat-error *ngIf="moduleCode.touched && !moduleCode.errors?.required && !moduleCode.errors?.pattern && !moduleName">Module does not exist</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field" style="width: calc(25% - 10px); margin-right: 10px; font-size: 15px">
        <mat-label>Lecture Hour</mat-label>
        <mat-select (selectionChange)="getBatch()" id="lectureHour" formControlName="lectureHour">
          <mat-option *ngFor="let lectureHour of lectureHours" [value]="lectureHour.lectureHourID">{{ lectureHour.type }}</mat-option>
        </mat-select>
        <mat-error *ngIf="lectureHour.touched && lectureHour.errors?.required">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field" style="width: calc(25% - 10px); margin-right: 10px; font-size: 15px">
        <mat-label>Batch</mat-label>
        <mat-select (selectionChange)="getSessions()" id="batch" formControlName="batch">
          <mat-option *ngFor="let year of YEARS" [value]="year">{{ year }}</mat-option>
        </mat-select>
        <mat-error *ngIf="batch.touched && batch.errors?.required">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field" style="width: 25%">
        <mat-label>Session</mat-label>
        <mat-select (selectionChange)="checkValue($event.value)" id="session" formControlName="session">
          <mat-option value="0">New Session</mat-option>
          <mat-option *ngFor="let session of sessions" [value]="session.sessionID">{{ session.dateHeld | date: 'MMM d, y, h:mm a'}}</mat-option>
        </mat-select>
        <mat-error *ngIf="session.touched && session.errors?.required">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field" style="width: 50%; margin-right: 10px">
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="myDatePicker" [max]="maxDate" />
        <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
        <mat-error *ngIf="session.value === '0' && date.touched && date.errors?.required">This field required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field" style="width: calc(50% - 10px)">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time" />
        <mat-error *ngIf="session.value === '0' && time.touched && time.errors?.required">This field required</mat-error>
      </mat-form-field>

      <div id="preview">

        <p>Preview of the attendance</p>

        <p *ngIf="moduleName">Module Name:<span style="font-weight: 570"> {{moduleName}}</span></p>

        <div *ngIf="!!attendanceFile; else elseBlock">

          <ul>
            <li><span>File Name:</span> {{file.name}}</li>
            <li><span>File Size:</span> {{(file.size / 1024) | number: '1.2-2'}} Kb</li>
          </ul>

          <table class="table table-sm">

            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Index Number</th>
              <th scope="col">Attendance Status</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let attendance of attendanceFile; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ attendance.index }}</td>
              <td>{{ attendance.status === 1 ? 'Present' : 'Absent' }}</td>
            </tr>
            </tbody>

          </table>

        </div>

        <ng-template #elseBlock>
          <p *ngIf="!fileError; else fileErrorBlock">
            <i>Preview not available. Please select a file.</i>
          </p>
          <ng-template #fileErrorBlock>
            <p class="text-danger">File uploaded contains errors. Please check the file.</p>
          </ng-template>
        </ng-template>

        <div style="margin: 10px; overflow: hidden">
          <button [disabled]="!!session.errors?.required || session.disabled" type="button" (click)="clickFileUpload()" id= "addFile" class="btn btn-success">Select File</button>
          <input (change)="onFileChange($event)" type="file" id="fileUpload" accept=".xls,.xlsx" hidden/>
        </div>

      </div>

      <div *ngIf="!lectureHoursFound" class="alert alert-danger mt-3 mb-0">No lecture hours found for this module!</div>

      <div *ngIf="successfullySaved" class="alert alert-success mt-3 mb-0">Attendance saved successfully!</div>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>

      <button (click)="clearData()" mat-flat-button type="button" style="margin: 10px 0 0 0; float: right">Reset</button>
      <button [disabled]="uploadAttendanceProgress" (click)="uploadAttendance()" type="submit" mat-raised-button color="primary" style="margin: 10px 10px 0 0; float: right">Upload</button>

    </form>

  </div>

</div>

