.filter {
  margin: 0 20px 0 10px;
  width: 250px;
}

.details-button {
  font-size: 14px;
}

.danger {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}
