<div class="container-md">

  <div class="jumbotron">
    <h3>Attendance</h3>
    <p *ngIf="getRole !== 'admin'; else adminBlock">You can check your attendance for each module with dates</p>
    <ng-template #adminBlock><p>You can perform any attendance related operations</p></ng-template>
  </div>

  <mat-form-field [hidden]="getRole === 'admin'" class="filter">
    <mat-label>Filter</mat-label>
    <input (keyup)="applyFilter($event)" matInput placeholder="Enter keyword" #input/>
  </mat-form-field>

  <div *ngIf="!progress; else progressBlock">

    <div *ngFor="let module of filteredAttendance" class="card" style="margin-bottom: 15px">

      <h5 class="card-header">
        <span style="float: left">{{ module.moduleName }}</span>
        <span style="float: right">{{ module.moduleCode }}</span>
      </h5>

      <div class="card-body" style="padding: 0">

        <div class="list-group list-group-flush">
          <a *ngFor="let lectureHour of module.attendance" (click)="openDialog(module.moduleCode, module.moduleName, lectureHour.type, module.batch)" class="list-group-item list-group-item-action d-flex">
            <div class="container">{{ lectureHour.type | uppercase }}</div>
            <div class="container" style="text-align: center">
              <mat-chip-list aria-label="attendance">
                <mat-chip class="attendance-success" [class.attendance-danger]="lectureHour.percentage < 80">{{ lectureHour.percentage + '%' }}</mat-chip>
              </mat-chip-list>
            </div>
            <div class="container" style="text-align: right">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
          </a>
        </div>

      </div>

    </div>

    <div *ngIf="getRole === 'admin'">

      <div style="margin-right: 10px !important;" class="nav flex-column nav-pills secondary-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="upload-attendance-tab" data-toggle="pill" href="#upload-attendance" role="tab" aria-controls="upload-attendance" aria-selected="true">Upload Attendance</a>
        <a class="nav-link active" id="modify-attendance-tab" data-toggle="pill" href="#modify-attendance" role="tab" aria-controls="modify-attendance" aria-selected="false">Modify Attendance</a>
        <a class="nav-link" id="view-attendance-tab" data-toggle="pill" href="#view-attendance" role="tab" aria-controls="view-attendance" aria-selected="false">View Attendance</a>
      </div>

      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade" id="upload-attendance" role="tabpanel" aria-labelledby="upload-attendance-tab">

          <app-upload-attendance></app-upload-attendance>

        </div>

        <div class="tab-pane fade show active" id="modify-attendance" role="tabpanel" aria-labelledby="modify-attendance-tab">

          <app-edit-attendance></app-edit-attendance>

        </div>

        <div class="tab-pane fade" id="view-attendance" role="tabpanel" aria-labelledby="view-attendance-tab">

          <app-view-attendance></app-view-attendance>

        </div>

      </div>
    </div>

    <div *ngIf="filteredAttendance.length === 0 && getRole !== 'admin'" class="alert alert-dark mt-3 mb-0">
      No modules found..!
    </div>

  </div>

  <div *ngIf="attendanceError" class="alert alert-danger mt-3 mb-0">Error retrieving the data..!</div>

  <ng-template #progressBlock>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>
