<div [hidden]="getRole !== 'Student'">
  <div class="card-header">
    <h5>View Payments Details</h5>
    <p class="sub-header">View Payments details</p>
  </div>
  <app-view-payments></app-view-payments>
</div>

<div [hidden]="getRole !== 'Admin'">
<mat-tab-group>
  <mat-tab label="Confirmed Payments">
  <div class="card">

    <div class="card-header">
      <h5>View Payments Details</h5>
      <p class="sub-header">View Payments details</p>
    </div>

    <div class="card-body">

      <div class="row" style="margin: -20px -20px 10px -20px; height: 5px">
        <mat-progress-bar [hidden]="!viewPaymentsProgress" mode="query"></mat-progress-bar>
      </div>
    </div>

    <form [formGroup]="viewPaymentsForm">

      <div class="row px-0">

        <mat-form-field class="col-8 pr-1" appearance="outline" id="course-name">
          <mat-label>Course Name</mat-label>
          <mat-select formControlName="courseName">
            <mat-option *ngFor="let course of courses" [value]="course.courseID">{{course.courseName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="courseName.touched && courseName.errors?.required">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="col-4" appearance="outline" id="academicYear">
          <mat-label>Academic Year</mat-label>
          <mat-select id="action" formControlName="academicYear">
            <mat-option *ngFor="let year of years" [value]="year.id">{{ year.value }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>

      <div class="row px-2">
        <button mat-raised-button color="primary"  (click)="toggle()" (click)="getConfirmedPaymentsList()" class="mx-2" type="button"> {{buttonName}} </button>
      </div>


      <mat-form-field  *ngIf="show">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
      </mat-form-field>
    <table mat-table #TableOneSort
        [dataSource]="dataSourceConfirmed" multiTemplateDataRows
        class="mat-elevation-z8" *ngIf="show" >


    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayConfirmed">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayConfirmed.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElementConfirmed ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <app-view-payments [confirmedStudentPaymentDetails] ="confirmedStudentList[0]" *ngIf="element == expandedElementConfirmed"></app-view-payments>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayConfirmed"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayConfirmed;" class="example-element-row" [class.example-expanded-row]="expandedElementConfirmed === element"
        (click)="expandedElementConfirmed = expandedElementConfirmed === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator
  #TableOnePaginator="matPaginator"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]" [hidden]="!show"></mat-paginator>

</div>
 </mat-tab>



 <mat-tab label="Pending Payments">
  <div class="card">

      <div class="row px-2">
        <button mat-raised-button color="primary" (click)="togglePending()" class="mx-2" type="button"> {{buttonNamePending}} </button>
      </div>


      <mat-form-field  *ngIf="view">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterPending($event)" placeholder="Filter" #input>
      </mat-form-field>

  <table mat-table #TableTwoSort
        [dataSource]="dataSourcePending" multiTemplateDataRows
        class="mat-elevation-z8" *ngIf="view">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayPending">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayPending.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElementPending ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <app-view-payment-details></app-view-payment-details>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayPending"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayPending;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElementPending === element"
        (click)="expandedElementPending = expandedElementPending === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator
  #TableTwoPaginator="matPaginator"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]" [hidden]="!view"
></mat-paginator>

</div>
 </mat-tab>
</mat-tab-group>
</div>
