<div class="row px-3">
  <div *ngIf="requestError" class="alert alert-danger mt-1 col">{{ requestError }}</div>
</div>

<!--<div class="d-flex flex-row-reverse">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Filter</mat-label>-->
<!--    <input type="search" matInput [formControl]="filter"/>-->
<!--    <button mat-button *ngIf="filter.value" matSuffix mat-icon-button aria-labelledby="Clear" (click)="filter.setValue('')">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->
<!--  </mat-form-field>-->
<!--</div>-->

<div *ngIf="!progress; else progressBlock">

      <div id="accordion">

        <div *ngFor="let request of requests" [attr.id]="request.requestID" class="card mb-2" style="transition: box-shadow 2s">

          <h5 [attr.id]="'heading' + request.requestID"
              [attr.data-target]="'#collapse' + request.requestID"
              [attr.aria-controls]="'collapse' + request.requestID"
              aria-expanded="false"
              data-toggle="collapse"
              class="card-header d-flex justify-content-between"
              style="cursor: pointer"
          >
            <span>{{ request.date | date: 'MMM d, y' }}</span>
          </h5>

          <div [attr.id]="'collapse' + request.requestID"
               [attr.aria-labelledby]="'heading' + request.requestID"
               data-parent="#accordion"
               class="collapse">

            <div class="card-body p-0">

              <ul class="list-group">

                <li class="list-group-item list-group-item-action d-flex justify-content-start">
                  <div style="width: 15%">REQUESTS</div>
                  <ul style="padding-left: 15px">
                    <li *ngFor="let requestType of request.requestTypes" style="font-weight: 550; list-style-type: disc">{{ requestType.request }}<br/></li>
                  </ul>
                </li>

                <li class="list-group-item list-group-item-action d-flex justify-content-start">
                  <div style="width: 15%">REASONS</div>
                  <div>
                    <ul style="padding-left: 15px">
                      <li *ngFor="let reason of request.reasons" style="font-weight: 550; list-style-type: disc">{{ reason.reason }}</li>
                    </ul>
                  </div>
                </li>

                <li class="list-group-item list-group-item-action d-flex justify-content-start">
                  <div style="width: 15%">REMARKS</div>
                  <div><p style="font-weight: 550">{{ request.remarks }}</p></div>
                </li>

                <li class="list-group-item list-group-item-action d-flex justify-content-start">
                  <div style="width: 15%">PROGRESS</div>
                  <div style="width: 100%; margin: -20px -21px -13px 0">
                    <mat-list>
                      <mat-list-item *ngFor="let step of request.reviewedBy"
                                     [ngClass]="{
                                     'bg-danger': step.status === 0,
                                     'bg-success': step.status === 1,
                                     'bg-light': step.status === 2,
                                     'text-white': step.status === 0 || step.status === 1}"
                      >
                        <mat-icon mat-list-icon>{{ step.status === 2 ? 'pending_actions' : step.status === 1 ? 'check' : 'clear' }}</mat-icon>
                        <div mat-line style="font-weight: 550">{{ step.reviewer }}</div>
                        <div mat-line *ngIf="step.reason">{{ step.reason }}</div>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </li>

              </ul>

            </div>

          </div>

        </div>

      </div>

  <div *ngIf="requests.length === 0" class="alert alert-dark mt-3 mb-0">
    No modules found..!
  </div>

</div>

<ng-template #progressBlock>
  <mat-spinner></mat-spinner>
</ng-template>
