<div class="container-md" style="margin-left: 0; max-width: 1000px">

  <div class="jumbotron">
    <h3 style="margin-top: 0">Course Modules</h3>
    <p>All the modules you registered so far appear here</p>
  </div>

  <mat-spinner [hidden]="!progress" style="  margin: 100px auto auto"></mat-spinner>

  <div *ngIf="!error" [hidden]="progress">

    <mat-slide-toggle *ngIf="getRole !== 'admin'"
                      class="slide-toggle"
                      color="primary">
      Current Registrations
    </mat-slide-toggle>

    <button mat-raised-button color="accent" style="margin: 5px 10px 20px 0" *ngIf="getRole === 'admin'" (click)="openAddNewModuleDialog()">Add New Module</button>

    <h1 *ngIf="getRole === 'student'" class="mat-h2">{{ courseName }}</h1>

    <div *ngFor="let semester of semesters | keyvalue">
      <div *ngIf="semester.value.length !== 0" class="mat-semester-group">

        <p class="semester-group-header">{{ semester.key }}</p>

        <div [attr.id]="'accordion' + semester.value[0].moduleCode">

          <div [attr.id]="module.moduleCode" class="card" style="margin-bottom: 15px" *ngFor="let module of semester.value">
            <h5 class="card-header accordion-header" [attr.id]="'heading' + module.moduleCode" data-toggle="collapse"
                [attr.data-target]="'#collapse' + module.moduleCode"
                aria-expanded="false" [attr.aria-controls]="'collapse' + module.moduleCode">
              <span style="float: left">{{ module.moduleName }}</span>
              <span style="float: right">{{ module.moduleCode }}</span>
            </h5>

            <div [attr.id]="'collapse' + module.moduleCode" class="collapse"
                 [class.show]="module.moduleCode === routeParameter.id"
                 [attr.aria-labelledby]="'heading' + module.moduleCode"
                 [attr.data-parent]="'#accordion' + semester.value[0].moduleCode">
              <div class="card-body" style="padding: 0">

                <ul class="list-group list-group-flush">

                  <li class="list-group-item list-group-item-action d-flex">
                    {{ module.description }}
                  </li>

                  <li class="list-group-item list-group-item-action d-flex">
                    <div class="type">TEACHERS</div>
                    <div class="content">
                      <span *ngIf="module.teachers.length === 0; else teachersBlock"><i> Not Available</i></span>
                      <ng-template #teachersBlock>
                        <span *ngFor="let teacher of module.teachers">{{ teacher.firstName }} {{ teacher.lastName }}
                          <br/></span>
                      </ng-template>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action d-flex">
                    <div class="type">CREDITS</div>
                    <div class="content">
                      <span *ngIf="!module.credits; else creditsBlock"><i>Not Available</i></span>
                      <ng-template #creditsBlock>{{ module.credits }}</ng-template>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action d-flex">
                    <div class="type">YEAR</div>
                    <div class="content">{{ module.moduleYear }}</div>
                  </li>


                  <li class="list-group-item list-group-item-action d-flex">
                    <div class="type">
                      TIME
                    </div>
                    <div class="content">
                      <span *ngIf="module.lectureHours.length === 0; else lectureHourBlock"><i>Not Available</i></span>
                      <ng-template #lectureHourBlock>
                        <span *ngFor="let lectureHour of module.lectureHours">
                          <span class="highlight">{{ lectureHour.type }}</span>:
                          <span class="highlight">{{ daysOfWeek[lectureHour.day] }}</span> from <span
                          class="highlight">{{ lectureHour.startingTime }}</span> to
                          <span class="highlight">{{ lectureHour.endingTime }}</span> at <span
                          class="highlight">{{ lectureHour.lectureHall }}</span><br/>
                        </span>
                      </ng-template>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action d-flex result" (click)="router.navigate(['../results', {moduleCode: module.moduleCode}])">
                    <div class="type">
                      RESULTS
                    </div>
                    <div class="content">
                      <div *ngIf="getRole !== 'admin'; else addResultBlock" style="float: left"><i>Click Here to view Results</i></div>
                      <ng-template #addResultBlock>
                        <div style="float: left"><i>Click here to add results to this module</i></div>
                      </ng-template>
                      <div style="float: right">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action d-flex result" *ngIf="getRole === 'admin'">
                    <button mat-raised-button color="primary" style="margin-right: 10px" (click)="openEditDetailsDialog(module)">Edit</button>
                    <button mat-button color="warn" (click)="openDeleteModuleDialog(module)">Delete</button>
                  </li>

                </ul>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
