<button mat-icon-button class="close-button" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>

<h1 class="dialog-title" mat-dialog-title>Edit Module Information</h1>
<p class="dialog-subtitle">Edit required fields and click save</p>

<form [formGroup]="editModuleForm">
  <mat-dialog-content style="font-size: 14px; min-height: 300px !important;">

    <mat-spinner style="margin: 100px auto auto" [hidden]="!progress"></mat-spinner>

    <div [hidden]="progress" *ngIf="!error">

      <div class="row">

        <mat-form-field appearance="outline" class="col-6 mx-0 px-1" id="form">
          <mat-label>Module Code</mat-label>
          <input type="text" matInput formControlName="moduleCode" placeholder="Ex: CM 1100" (focusout)="checkIfModuleExists($event.target.value)">
          <mat-error *ngIf="moduleCode.touched && moduleCode.errors?.required">Required</mat-error>
          <mat-error *ngIf="moduleCode.touched && moduleCode.errors?.pattern">Invalid format</mat-error>
          <mat-error *ngIf="moduleCode.touched && !moduleCode.errors?.pattern && !moduleCode.errors?.required && moduleExists">Module code exists</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-6 mx-0 px-1">
          <mat-label>Batch</mat-label>
          <mat-select formControlName="batch">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
          <mat-error *ngIf="batch.touched && batch.errors?.required">This field is required</mat-error>
        </mat-form-field>

      </div>

      <div class="row">

        <mat-form-field appearance="outline" class="col-12 mx-0 px-1">
          <mat-label>Module Name</mat-label>
          <input type="text" matInput formControlName="moduleName" placeholder="Ex: Information Technology">
          <mat-error *ngIf="moduleName.touched && moduleName.errors?.required">This field is required</mat-error>
          <mat-error *ngIf="moduleName.touched && moduleName.errors?.minLength">Module name must be more than six
            characters long
          </mat-error>
        </mat-form-field>

      </div>

      <div class="row">

        <div class="col-4 mx-0 px-1">

          <mat-form-field appearance="outline" class="col-12 mx-0 px-0">
            <mat-label>Credits</mat-label>
            <input matInput formControlName="credits" placeholder="Ex: 2">
            <mat-error *ngIf="credits.touched && credits.errors?.required">Required</mat-error>
            <mat-error *ngIf="credits.touched && credits.errors?.pattern">Invalid input</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-12 mx-0 px-0">
            <mat-label>Semester</mat-label>
            <mat-select formControlName="semester">
              <mat-option value="1">L01S01</mat-option>
              <mat-option value="2">L01S02</mat-option>
              <mat-option value="3">L02S01</mat-option>
              <mat-option value="4">L02S02</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <mat-form-field appearance="outline" class="col-8 mx-0 px-1">
          <mat-label>Module Description</mat-label>
          <textarea style="overflow: hidden !important; resize: none !important; height: 95px" matInput formControlName="description" placeholder="Add a description to this module"></textarea>
          <mat-error *ngIf="description.touched && description.errors?.required">This field is required</mat-error>
          <mat-error *ngIf="description.touched && description.errors?.minLength">Module description must be more than six characters long</mat-error>
        </mat-form-field>

      </div>

      <div class="input-group" id="teachers">

        <div style="width: 100%">
          <p class="input-group-header">Add Teachers</p>
        </div>

        <p *ngIf="teachers.length === 0">
          Enter teachers ID number or name to assign the to this module <br/>
          <span class="text-danger" *ngIf="!disabled.value">You must add at least one teacher</span>
        </p>

        <mat-chip-list style="margin-bottom: 15px" #teacherList aria-label="Teacher Selection">
          <mat-chip *ngFor="let teacher of teachers"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="removeTeacher(teacher)"
                    class="mat-chip-edit-details">
            {{ teacher.username }} | {{ teacher.firstName + ' ' + teacher.lastName }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

        <mat-form-field appearance="outline" class="input-field"
                        style="margin-bottom: -5px !important; width: 89%; margin-right: 2%;">
          <mat-label>Teacher ID</mat-label>
          <input id="selectTeacher"
                 matInput
                 placeholder="Ex: 184061R"
                 type="text"
                 formControlName="teacher"
                 [matAutocomplete]="auto"/>
          <mat-error *ngIf="teacher.errors?.incorrect">Invalid teacher id</mat-error>
          <mat-autocomplete #auto='matAutocomplete'>
            <mat-option *ngFor="let teacher of filteredTeachers | async"
                        [value]="teacher.username">
              <span>{{ teacher.username }}</span> |
              <small>{{ teacher.firstName + ' ' + teacher.lastName }}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button type="button" class="fab-button btn btn-success btn-sm" style="margin-top: 12px" (click)="addTeacher()">
          <mat-icon>add</mat-icon>
        </button>

      </div>

      <div class="input-group" id="lectureHours">

        <div style="width: 100%">
          <p class="input-group-header">Existing Lecture Hours</p>
        </div>

        <p>
          If you remove existing lecture hours, attendance will be enterd to the new ones.
        </p>

        <div formArrayName="lectureHours" *ngFor="let lectureHour of lectureHours.controls; let i = index">

          <div [formGroupName]="i">

            <mat-form-field [hidden]="true">
              <input matInput formControlName="lectureHourID">
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of LECTURE_TYPES" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Day</mat-label>
              <mat-select formControlName="day">
                <mat-option *ngFor="let type of daysOfWeek; let i = index" [value]="i + 1">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Lecture Hall</mat-label>
              <mat-select formControlName="lectureHall">
                <mat-option *ngFor="let lectureHall of LECTURE_HALLS" [value]="lectureHall">
                  {{ lectureHall }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Starting Time</mat-label>
              <input matInput type="time" formControlName="startingTime">
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 2%">
              <mat-label>Ending Time</mat-label>
              <input matInput type="time" formControlName="endingTime">
            </mat-form-field>

            <button type="button" class="fab-button btn btn-danger btn-sm" (click)="removeLectureHour(i)">
              <mat-icon>remove</mat-icon>
            </button>

          </div>

        </div>

      </div>

      <div class="input-group" id="newLectureHours">

        <div style="width: 100%">
          <p class="input-group-header">Add New Lecture Hours</p>
        </div>

        <p *ngIf="newLectureHours.length === 0" style="width: 100%">
          Click add button to add new lecture hours. <br/>
          <span class="text-danger" *ngIf="!disabled.value && lectureHours.length === 0">You must add at least one teacher</span>
        </p>

        <div formArrayName="newLectureHours" *ngFor="let lectureHour of newLectureHours.controls; let i = index">

          <div [formGroupName]="i">

            <mat-form-field [hidden]="true">
              <input matInput formControlName="lectureHourID">
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of LECTURE_TYPES" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Day</mat-label>
              <mat-select formControlName="day">
                <mat-option *ngFor="let type of daysOfWeek" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Lecture Hall</mat-label>
              <mat-select formControlName="lectureHall">
                <mat-option *ngFor="let lectureHall of LECTURE_HALLS" [value]="lectureHall">
                  {{ lectureHall }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 1%">
              <mat-label>Starting Time</mat-label>
              <input matInput type="time" formControlName="startingTime">
            </mat-form-field>

            <mat-form-field style="width: 17%; margin-right: 2%">
              <mat-label>Ending Time</mat-label>
              <input matInput type="time" formControlName="endingTime">
            </mat-form-field>

            <button type="button" class="fab-button btn btn-danger btn-sm" (click)="removeNewLectureHour(i)">
              <mat-icon>remove</mat-icon>
            </button>

          </div>

        </div>

        <button type="button" class="btn btn-success btn-sm" (click)="addNewLectureHour()">Add</button>


      </div>

      <mat-checkbox (change)="checkbox()" color="primary" formControlName="disabled">Set as disabled module</mat-checkbox>

    </div>

    <div *ngIf="savingError" class="alert alert-danger mt-3 mb-0">Error saving data. {{ savingError }}.</div>

  </mat-dialog-content>

  <mat-dialog-actions style="margin-bottom: -10px" *ngIf="!error" [hidden]="progress">
    <button mat-raised-button color="primary" (click)="submitForm()">
      <span *ngIf="savingData" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <button mat-flat-button>Cancel</button>
  </mat-dialog-actions>

</form>
